In [ ]:
#dictionary
# {key1:value1,key2:value2,key3:value3,...}

# dict(zip(keys,values))를  사용할 때, keys와 values 는 tuple, list 모두 가능
# 동일한 key값과 value 의 쌍 ('a':1) 이 있을 경우, 하나는 없어짐 
# 동일한 key값에 다른 value 값이  정의되면 마지막 값만 남음

In [ ]:
dic = {'name':'pey','phone':'01199993323','birth':'1118'}
dic

{'birth': '1118', 'name': 'pey', 'phone': '01199993323'}

In [ ]:
a={1:'hi'}

{1: 'hi'}

In [ ]:
#값(value)에 리스트형태로 입력 가능
a={'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [ ]:
#추가
#key 값의 오름차순으로 추가된다.
# 예를 들어, 아래 문장처럼, 문자('a')는 숫자(2)보다 크다. 따라서 앞쪽에 새로 추가하는 '2' 가 들어간다. 
a[2]='b'
a

{2: 'b', 'a': [1, 2, 3]}

In [ ]:
x={1:'a'}
x

{1: 'a'}

In [ ]:
# 아래의 예에서는 숫자(2)는 숫자(1) 보다 크므로 뒷부분에 추가되고 숫자(0)은 앞쪽에 추가된다.
[2]='b' 
x

{1: 'a', 2: 'b'}

In [ ]:
x[0]='z'
x

{0: 'z', 1: 'a', 2: 'b'}

In [ ]:
#삭제
x

{0: 'z', 1: 'a', 2: 'b'}

In [ ]:
del x[1]

In [ ]:
x

{0: 'z', 2: 'b'}

In [ ]:
# key 사용해서 value얻기

In [ ]:
grade = {'alice':80,'liz':90, 'julliet':99}
grade

{'alice': 80, 'julliet': 99, 'liz': 90}

In [ ]:
grade['alice']   # dictionary 형태에서는 index 값은 'key'값이다

80

In [ ]:
#dictionay 내 동일한 key 값이 있을 경우 최종 값만 유지된다. 에러가 발생하지 않음
grade['alice']=82
grade

{'alice': 82, 'julliet': 99, 'liz': 90}

In [ ]:
grade = {'alice':80,'liz':90, 'julliet':99, 'alice':82}
grade

{'alice': 82, 'julliet': 99, 'liz': 90}

In [ ]:
#dictionary 에서 key 값은 리스트를 쓸 수 없다. 단, 튜플은 가능하다
a={[1,2]: 'hi'}

TypeError: ignored

In [ ]:
a={(1,2):'hi'}
a

{(1, 2): 'hi'}

In [ ]:
a[(1,2)] = 'difficult'
a

{(1, 2): 'difficult'}

In [ ]:
dic

{'birth': '1118', 'name': 'pey', 'phone': '01199993323'}

In [ ]:
# key 리스트만들기
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [ ]:
type(dic.keys())

dict_keys

In [ ]:
# key 만 추출한 것을 list 로 전환
key_list=list(dic.keys())
print(key_list)

['name', 'phone', 'birth']

In [ ]:
# value 리스트 만들기
value_list = list(dic.values())
print(value_list)

['pey', '01199993323', '1118']

In [ ]:
#쌍(items)얻기
dic.items()

dict_items([('name', 'pey'), ('phone', '01199993323'), ('birth', '1118')])

In [ ]:
#쌍 지우기 clear () 안에 argument 넣을 수 없음
print(dic)
#dic.clear('name')
dic.clear()
print(dic)

{'name': 'pey', 'phone': '01199993323', 'birth': '1118'}
{}

In [ ]:
#key값으로 value 얻기 2 : get
# a.get(key) 와 a(key) 와 동일하다
# 단. 없는 key 값을 넣었을 경우, a.get(key) 는 없다는 의미의 'None' 이 나오나, a(key)는 에러발생
print(dic.get('age'))
print(dic('age'))

None

TypeError: ignored

In [ ]:
# 값이 없을 경우 추가로 값을 넣어 두면 해당값이 출력될 뿐, dic 안에 추가되진 않.는.다.
dic.get('age', 30)   # 이떄 형식이 dictionary 형태(:)가 아니라  (')이다
print(dic.get('age', 30))

30

In [ ]:
# in: 해당 key 가 dictionary에 있는지 조사
dic={'birth': '1118', 'name': 'pey', 'phone': '01199993323'}

In [ ]:
'name' in dic

True

In [ ]:
'age' in dic

False

In [ ]:
# dict(zip(keys,values))를  사용할 때, keys와 values 는 tuple, list 모두 가능
# 동일한 key값과 value 의 쌍 ('a':1) 이 있을 경우, 하나는 없어짐 
# 동일한 key값에 다른 value 값이  정의되면 마지막 값만 남음

In [40]:
dic = dict()   # dic= {} 와 동일함 dictionary
key_list = ['a','b','c']
value_list = [1,"python",[1,2,3]]
dic = dict(zip(key_list,value_list))
dic

{'a': 1, 'b': 'python', 'c': [1, 2, 3]}

In [38]:
dic22 = {}  
key2_tuple = ('a','b','c','a')   # 동일한 key값과 value 의 쌍 ('a':1) 이 있을 경우, 하나는 없어짐 
value2_tuple = (1,"python",[1,2,3],1)
dic22 = dict(zip(key2_tuple,value2_tuple))
dic22

{'a': 1, 'b': 'python', 'c': [1, 2, 3]}

In [39]:
dic23 = {}  
key3_tuple = ('a','b','c','a')   # 동일한 key값에 다른 value 값이  정의되면 마지막 값만 남음
value3_tuple = (1,"python",[1,2,3],5)
dic23 = dict(zip(key3_tuple,value3_tuple))
dic23

{'a': 5, 'b': 'python', 'c': [1, 2, 3]}