In [1]:
# 참, 거짓
# 문자열, 리스트, 튜플,딕셔너리 등의 값이 비어 있으면 FALSE
# 그외는 모두 TRUE

In [2]:
a=True
b=False

In [3]:
type(a)

bool

In [4]:
1==1

True

In [5]:
2>1

True

In [6]:
# a.pop() a는 리스트 형태. a의 마지막 요소를 끄집어 내는 함수임. 다 끄집어 내면 결국 a는 [] 이 됨
a=[1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [7]:
if []:
    print('T')
else:
    print('F')

F

In [9]:
print(a)
if a:
    print('T')
else:
    print('F')

[]
F

In [10]:
a=[1,2,3]
print(a)
if a:
    print('T')
else:
    print('F')

[1, 2, 3]
T

In [ ]:
#bool () 연산 () 안은 값으로 list 도 가능하며, 인덱스가 아닌 값을 넣음

In [11]:
bool([])

False

In [12]:
bool(0)

False