In [11]:
#id 함수: 변수가 가리키고 있는 객체의 주소값을 돌려주는 파이썬의 내장함수.

In [12]:
a=[1,2,3]

In [13]:
id(a)

139770992205488

In [14]:
#리스트복사
b=a
print(b)

[1, 2, 3]

In [15]:
id(b)    # a와 동일한 포인트를 가리킴

139770992205488

In [16]:
a is b  # a와 b가 가리키는 객체가 동일한가?

True

In [17]:
a[1] = 4
a

[1, 4, 3]

In [18]:
b  # b 값도 바뀜

[1, 4, 3]

In [19]:
a2=[1,2,3]

In [20]:
id(a2)

139770991924240

In [21]:
b2=a[:]   # a와 값은 동일
b2

[1, 4, 3]

In [22]:
id(b2)  # a와 다.른. 포인트를 가리킴. 즉 a 값만 copy 하였을 뿐 포인트는 다르므로, a값이 변해도 b는 자동변경되지 x

139770992186544

In [23]:
b2[1] = 9
print(b2)
print(a2)    # b 리스트의 b[1] 만 9로 바뀜

[1, 9, 3]
[1, 2, 3]

In [24]:
#변수만드는 다양한 방법

In [25]:
a,b = ('python', 'life')

In [26]:
a,b

('python', 'life')

In [27]:
id(a)

139771533527216

In [28]:
id(b)

139771134702320

In [29]:
id(a,b)   # id 함수는 하나의 argument만 받음

TypeError: ignored

In [30]:
(a,b) = 'Python', 'life'

In [31]:
print(a,b)

Python life

In [33]:
type((a,b))   #()하나만 할 경우 즉, type(a,b)에서는 에러발생. (a,b)를 하나의 tuple로 인지함

tuple

In [34]:
type(a)  # 각각의 값은 그대로 str로 나타남

str

In [35]:
type(b)

str

In [36]:
type(a,b)  위에서 a,b를 각각의 str으로 정의한 것이 아니고 a와 b 를 tuple로 정의 하였기 때문에 에러 발생??

TypeError: ignored

In [38]:
c="Python"
d="life"
print(c,d)

Python life

In [39]:
type(c,d) # type은 하나의 arg.만 나타남?

TypeError: ignored

In [40]:
type((c,d))  # type은 하나의 arg. 만 처리함

tuple