In [ ]:
#Q1
kor = 80
eng = 75
math = 55
hong = [kor, eng, math]
hong

[80, 75, 55]

In [ ]:
h_mean = sum(hong) / len(hong)
h_mean

70.0

In [ ]:
#Q2
data = 13
if(data % 2 == 0):
    print('짝수')
else:
    print('홀수')

홀수

In [ ]:
#Q3
no = '881120-1057234'
date = '19' + no[:6]
uni2 = no[7:]
print('연월일 = ', date)
print('주민번호 뒷번호 = ', uni2)

연월일 =  19881120
주민번호 뒷번호 =  1057234

In [ ]:
#4.
pin = '881120-1057234'
print(pin[7])
if pin[7] == 1 or 3:
    print('남성')
else:
    print('여성')

1
남성

In [ ]:
#Q5
a="a:b:c:d"
a = a.replace(":","#")
print(a)

a#b#c#d

In [ ]:
#Q6
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [ ]:
#Q7
a = ['Life', 'is','too','short']
a_str = " ".join(a)
print(a_str)

Life is too short

In [ ]:
#Q8
a=(1,2,3)
b=(4,)   # tuple 을 하나의 값만 넣을 경우 b=(4) 가 아니고 b=(4,) 형태로 넣어야 int와 구별됨
print(a+b)

(1, 2, 3, 4)

In [ ]:
#Q9
a = dict()
a

{}

In [ ]:
a['name'] = 'python'   # 정상
a

{'name': 'python'}

In [ ]:
a[('a',)] = 'python'  # 정상
a

{('a',): 'python', 'name': 'python'}

In [ ]:
a[[1]] = "python"   # dictionary의 key 값은 변하지 않는 값이어야 하므로, 상수,무자, tuple 등이 가능하나, 리스트는 안됨.
                    # 따라서 에러 발생
a

TypeError: ignored

In [31]:
a[250]='python'

In [32]:
a

{('a',): 'python', 250: 'python', 'name': 'python'}

In [33]:
#Q10
a = {'A':90,'B':80,'C':70}
b_pop = a.pop('B')   # key 값을 쓰면 해당 값이 추출됨

b_pop =
{'A': 90, 'C': 70}

In [34]:
print("b_pop = ", b_pop)
print("a=", a)

b_pop =  80
a= {'A': 90, 'C': 70}

In [37]:
#Q11
a=[1,1,1,2,2,3,3,3,4,4,5]
a_set = list(set(a))   # set(a) type을 list 로 전환
print(a_set)

[1, 2, 3, 4, 5]

In [39]:
#Q12
a = b = [1,2,3]
a[1]=4
print(b)

[1, 4, 3]

In [ ]:
# a 와  b 가 동일한 주소를 가리키고 있으므로, a 값을 바꾸면 해당 주소에 할당된 값도 바뀌므로 b 값도 바뀜