In [1]:
# for 문

In [2]:
test_list = ['one','two',"three"]
for i in test_list:
    print(i)

one
two
three

In [3]:
a=([1,2],[3,4],[5,6])   #튜플 안에 리스트로 구성된 a
for [first,last] in a:
    print(first+last)

3
7
11

In [5]:
a=[(7,8),(9,10),(11,12)]   # 리스트 안이 튜플로 구성된 a
for (first,last) in a:
    print(first+last)

15
19
23

In [8]:
a=(['a','b'],['c','d'],['e','f'])   #튜플 안에 리스트로 구성된 a
for [first,last] in a:
    print(first+last)
    print(first+" "+last)

ab
a b
cd
c d
ef
e f

In [7]:
a=[('Life', 'is'),('too', 'short'),('Enjoy', 'Life')]   # 리스트 안이 튜플로 구성된 a
for (first,last) in a:
    print(first+ " " +last)

Life is
too short
Enjoy Life

In [9]:
test_score = [90,25,67,45,80]
no = 0
for mark in test_score:   # for xx in y 에서 xx 초기 값은 y[0] 
    no +=1
    if mark >=60:
        print("%d번째 학생의 점수는 %d 이므로 합격입니다." % (no, mark))
    else:
        print("%d번째 학생의 점수는 %d 이므로 불합격입니다." % (no, mark))

1번째 학생의 점수는 90 이므로 합격입니다.
2번째 학생의 점수는 25 이므로 불합격입니다.
3번째 학생의 점수는 67 이므로 합격입니다.
4번째 학생의 점수는 45 이므로 불합격입니다.
5번째 학생의 점수는 80 이므로 합격입니다.

In [10]:
test_score = [90,25,67,45,80]
no = 0
for mark in test_score:   # for xx in y 에서 xx 초기 값은 y[0] 
    no +=1
    if mark >=60:
        print("축하드립니다. %d번째 학생의 점수는 %d 이므로 합격입니다." % (no, mark))
    else:
        continue

축하드립니다. 1번째 학생의 점수는 90 이므로 합격입니다.
축하드립니다. 3번째 학생의 점수는 67 이므로 합격입니다.
축하드립니다. 5번째 학생의 점수는 80 이므로 합격입니다.

In [11]:
# for & range 함수

In [12]:
# range() 함수는 숫자 리스트를 자동으로 만들어 줌

In [13]:
a= range(10)
a

range(0, 10)

In [14]:
a=range(1,11)

In [15]:
a

range(1, 11)

In [17]:
add = 0
for i in range(1,11):  #  i = 11 이면 빠져 나오므로 for 문 안에는 실행되지 않음
    add += i
    print(i)

print("add = ", add)

1
2
3
4
5
6
7
8
9
10
add =  55

In [31]:
answer = 0
for i in range(2,10):
    for j in range(1,10):
        #answer = i*j
        #print(i*j)     
        print(i*j, end = " ")   # end 옵션을 쓰면 자동으로 \n 되지 않음
    #print("\n")
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [28]:
answer = 0
for i in range(2,10):
    for j in range(1,10):
        answer = i*j
        print(answer)
    #print("\n")
    #print()

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [41]:
answer = 0
for i in range(2,10):
    for j in range(1,10):
        answer = i*j
        print("%2d * %2d = %5d" % (i,j,answer))
    #print("\n")
    print()

 2 *  1 =     2
 2 *  2 =     4
 2 *  3 =     6
 2 *  4 =     8
 2 *  5 =    10
 2 *  6 =    12
 2 *  7 =    14
 2 *  8 =    16
 2 *  9 =    18

 3 *  1 =     3
 3 *  2 =     6
 3 *  3 =     9
 3 *  4 =    12
 3 *  5 =    15
 3 *  6 =    18
 3 *  7 =    21
 3 *  8 =    24
 3 *  9 =    27

 4 *  1 =     4
 4 *  2 =     8
 4 *  3 =    12
 4 *  4 =    16
 4 *  5 =    20
 4 *  6 =    24
 4 *  7 =    28
 4 *  8 =    32
 4 *  9 =    36

 5 *  1 =     5
 5 *  2 =    10
 5 *  3 =    15
 5 *  4 =    20
 5 *  5 =    25
 5 *  6 =    30
 5 *  7 =    35
 5 *  8 =    40
 5 *  9 =    45

 6 *  1 =     6
 6 *  2 =    12
 6 *  3 =    18
 6 *  4 =    24
 6 *  5 =    30
 6 *  6 =    36
 6 *  7 =    42
 6 *  8 =    48
 6 *  9 =    54

 7 *  1 =     7
 7 *  2 =    14
 7 *  3 =    21
 7 *  4 =    28
 7 *  5 =    35
 7 *  6 =    42
 7 *  7 =    49
 7 *  8 =    56
 7 *  9 =    63

 8 *  1 =     8
 8 *  2 =    16
 8 *  3 =    24
 8 *  4 =    32
 8 *  5 =    40
 8 *  6 =    48
 8 *  7 =    56
 8 *  8 =    64
 8 *  9 =    72

 9 *  1 =     9
 9 *  2 =    18
 9 *  3 =    27
 9 *  4 =    36
 9 *  5 =    45
 9 *  6 =    54
 9 *  7 =    63
 9 *  8 =    72
 9 *  9 =    81

In [26]:
for i in range(4):   # true , false 상관없이 작동함
    print(i)

0
1
2
3

In [33]:
# 리스트 내포 사용하기
a=[1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [34]:
a=[1,2,3,4]
result = []
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [35]:
a=[1,2,3,4]
result = []
result = [num*3 for num in a if num % 2 ==0]
print(result)

[6, 12]

In [38]:
a=[1,2,3,4]
result = []
for num in a:
    if num % 2 == 0:
        result.append(num*3)
    else:          #else 이후는 생략 가능. but 인지적으로 모두 포함하는 방식으로 작성해 볼 것
        continue
print(result)

[6, 12]

In [39]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [66]:
answer = 0
alist = []
#answer_list2 = []

j = 1
answer = 2
alist.append(answer)
print(alist)
type(alist)

[2]

list

In [67]:
answer = 0
alist = []
a2list = []

for i in range(2,10):
    for j in range(1,10):
        answer = i*j
        # alist = alist.append(answer) 는 에러남. 자기 자신에게 이미 들어가 있으므로.
        alist.append(answer)
    #print('alist = ', alist)
    a2list.append(alist)
    print(a2list)
    alist=[]  # 구구단 단위별로 clear 해야 함

[[2, 4, 6, 8, 10, 12, 14, 16, 18]]
[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27]]
[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36]]
[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45]]
[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54]]
[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63]]
[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72]]
[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81]]