In [1]:
#클래스

In [2]:
result = 0
def add(num):
    global result
    result += num
    return result
print(add(3))
print(add(4))

3
7

In [3]:
add(5)

12

In [61]:
class Calculator:
    def __init__(self):   # 자동 호출 '_2개 붙인 것임
        self.result = 0
    
    def add(self,num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [99]:
# FourCal 의 초기값 설정이 없으므로 이때에도 따로 값을 넣지 못함
# 단, 초기값 설정할려면 setdata(first, second)를 반드시 실행해야 함
# 따라서 다른 연산에서 따로 받을 필요없음
class FourCal:
    def setdata(self,n1,n2):
        self.first = n1
        self.second = n2
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [100]:
a = FourCal()
a.setdata(4,2)
print(a.first)
print(a.second)

4
2

In [101]:
b=FourCal()
b.setdata(3,7)
print(b.second)

7

In [27]:
a.setdata(4,2)
a.

In [44]:
a.add()

6

In [45]:
a.sub()

2

In [46]:
b.sub()

-4

In [58]:
print('%08.8f' % b.div())

0.42857143

In [84]:
# FourCal2 의 초기값을 두개(first, second)를 받는 것으로 되어 있음
# 따라서 다른 연산에서 따로 받을 필요없음
class FourCal2:    
    def __init__(self,first,second):
        self.first = first
        self.second = second
    def add(self):  
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):     # 단, second = 0 이면 에러남
        result = self.first / self.second
        return result

In [85]:
a2 = FourCal2(4,2)

In [86]:
a2.add()

6

In [91]:
# FourCal3 의 초기값은 없음. 즉, call 할 때 FourCal3() 로 해야 함.
# 따라서 각 다른 연산에서 따로 값(first,second)을 받아야 함
# 단, 초기값(self.result)을 셋하였으므로 해당 result 값은 ......
class FourCal3:
    def __init__(self):
        self.result = 0

    def add(self, first, second):
        self.result = first + second
        return self.result
    def mul(self,first,second):
        self.result = first * second
        return self.result
    def sub(self, first, second):
        self.result = first - second
        return self.result
    def div(self, first, second):
        self.result = first / second
        return self.result

In [92]:
c = FourCal3()

In [93]:
c.add(3,4)

7

In [94]:
print('%6.5f' % c.div(7,8))

0.87500

In [113]:
# FourCal4 의 초기값은 없음. 즉, call 할 때 FourCal4() 로 해야 함. (FourCal3 와 동일함)
# 따라서 각 다른 연산에서 따로 값(first,second)을 받아야 함
# 단, 초기값(self.result)을 셋하였으나, self.result 가 아니라 그냥 result의 새로운 변수를 써도 동일한 값을 return 함
# 즉, __init__ 를 처리하지 않아도 결과값은 동일함

class FourCal4:
#    def __init__(self):
#        self.result = 0

    def add(self, first, second):
        result = first + second
        return result
    def mul(self,first,second):
        result = first * second
        return result
    def sub(self, first, second):
        result = first - second
        return self.result
    def div(self, first, second):
        result = first / second
        return result

In [114]:
d = FourCal4()

In [115]:
d.add(3,4)

7

In [116]:
d.add(1,2)

3

### 클래스 상속

In [102]:
# 새로 생성한 클래스 이름 뒤, 괄호 안에 상속할 틀래스 이름을 넣어야 함
# FourCal2 는 두 개의 값을 넣어야 함
class MoreFourCal(FourCal2):
    pass

In [103]:
a = MoreFourCal(3,4)

In [104]:
a.add()

7

In [117]:
#FourCal2을 상속받고, 또 새로운 pow()을 추가함. 즉, FourCal2에서 상속받은 기능도 함께 사용 가능함

class MoreFourCal(FourCal2):
    def pow(self):
        result = self.first ** self.second
        return result

In [118]:
m=MoreFourCal(2,4)

In [119]:
m.add()

6

In [120]:
m.pow()

16

In [121]:
m.div()

0.5

In [122]:
m=MoreFourCal(2,0)

In [123]:
m.div()

ZeroDivisionError: ignored

In [128]:
# FourCal2를 상속받았으나, FourCal2에 있는 메서스 div()를 새롭게 작성. 
# 이렇게 부모 클래스에 있는 메서드를 동일한 이름으로 다시 만드는 것을 메서드 오버라이딩(method overriding) 이라고 함
# 이때 오버라이딩 된 div()메서드가 부모클래스 대신 호출됨

class SafeFourCal(FourCal2):
    def div(self):
        if self.second == 0:   # 나누는 값이 0인 경우 0을 리턴하도록 수정
            return "0 으로 나눌수 없습니다"    # 반드시 int일 필요는 없음
        else:
            result = self.first / self.second
            return result

In [129]:
s=SafeFourCal(4,0)

In [130]:
s.div()

'0 으로 나눌수 없습니다'

### 클래스 변수

In [131]:
class Family:
    lastname =  '김'

In [132]:
print(Family.lastname)

김

In [133]:
a=Family()
b=Family()
print(a.lastname)

김

In [134]:
print(b.lastname)

김

In [135]:
a.lastname = '박'

In [136]:
b.lastname

'김'

In [137]:
print(a.lastname)

박

In [138]:
Family.lastname = '조' # 클래스 변수 값 변경.

In [139]:
print(a.lastname)  # 위에서 a.lastname 을 '박'으로 변경하였으므로, Family.lastname을 바뀌어도 
                   # 이미 객체변수사용되어 class 변수 값이 활용되지 않음

박

In [140]:
print(b.lastname)

조