## Part 1

### 0.절대값 구하기

In [1]:
import math

In [2]:
def abs_sign(a):
    if a >= 0:
        return a
    else:
        return -a

In [3]:
abs_sign(-3)

3

In [4]:
abs_sign(10)

10

In [5]:
def abs_square(a):
    a2 = a*a
    return math.sqrt(a2)

In [6]:
abs_square(4)

4.0

In [7]:
abs_square(-3)

3.0

###  문제01. 1부터 n 까지의 합구하기

In [8]:
def tot(a):
    t = 0
    for i in range(1,a+1):
        t += i
       # print(t,i)
    return i

In [9]:
tot(10)

10

In [10]:
def tot2(a):
    return a*(a+1)//2

In [11]:
tot2(10)

55

#### 1-1 1부터 n 까지 제곱의 합 구하기

In [12]:
def sqrt(n):
    sum = 0
    
    for i in range(1,n+1):
        sum = sum+ (i*i)
        print(i, sum)
    
    return sum

In [13]:
sqrt(10)

1 1
2 5
3 14
4 30
5 55
6 91
7 140
8 204
9 285
10 385

385

In [14]:
# 1-2 계산복잡도 : n 만큼의 반복 계산이 되므로 O(n)

In [15]:
# 1-3  n(n+1)(2n+1)/6 의 계산 복잡도 : 한번만 수식에 대입하여 구하면 되므로 O(1)

### 문제02 최댓값 찾기

In [16]:
def max(a):
    max_v = 0
    #print(type(a))
    
    if isinstance(a, int) | isinstance(a, float) == True:
        max_v = a   
        return max_v
    
    elif len(a) == 1:
        max_v = a[0]
    
    else:
        for i in range(0, len(a)):
            if max_v < a[i]:
                max_v = a[i]
                
    return max_v

In [17]:
a=[3,4,5]
max(a)

5

In [18]:
a=[3]
max(a)

3

In [19]:
a= (3,4,5)
max(a)

5

In [20]:
a=2
max(a)

2

In [21]:
a=3.5
max(a)

3.5

In [22]:
a=(2,4.8,8,8,8,86)
max(a)

86

In [23]:
v=[17,92,18,33,59,7,33,42]
print(max(v))

92

In [24]:
# 최댓값과 최댓값 위치 출력
def find_maxid(a):
    max_v = 0
    max_id = 0
    #print(type(a))
    
    if isinstance(a, int) | isinstance(a, float) == True:
        max_v = a   
        return max_v, max_id
    
    elif len(a) == 1:
        max_v = a[0]       
    
    else:
        max_v = a[0]    
        for i in range(0, len(a)):
            if max_v < a[i]:
                max_v = a[i]
                max_id = i
                
    return max_v, max_id

In [25]:
v=[17,92,18,33,59,7,33,42]
print(find_maxid(v))

(92, 1)

In [26]:
v=[17,-92,18,33,59,-7,33,-42]
print(find_maxid(v))

(59, 4)

In [27]:
## 2-1 숫자 n 개를 리스트로 입력박아 최솟값을 구하는 프로그램

In [28]:
def min():
    min_v = 0
    a=[]
    #print(type(a))
    
    a = list(map(int,input('최솟값 찾기를 위한 숫자를 연속해서 입력하시오.(각 숫자간에는 공란)').split()))
   # print(a)
    
    if isinstance(a, int) | isinstance(a, float) == True:
        min_v = a   
        return min_v
    
    elif len(a) == 1:
        min_v = a[0]
    
    else:
        min_v = a[0]
        for i in range(0, len(a)):
            if min_v > a[i]:
                min_v = a[i]
                
    return min_v

In [29]:
print(min())

최솟값 찾기를 위한 숫자를 연속해서 입력하시오.(각 숫자간에는 공란)6 7 4 0 -3
-3

### 문제03 동명이인 찾기

In [30]:
import pandas as pd
import numpy as np

In [52]:
def find_repeat_name(name):
    result=[]
    s_name=pd.Series(name)
    #print(s_name)
    
    df = pd.DataFrame(s_name.value_counts().sort_values(ascending=False),columns = ['freq']).reset_index()
    df.rename(columns = {'index': 'name'}, inplace = True)
    
    #df[df['freq'] > 1].name
    
    result= list(df[df['freq'] > 1].name)
    return set(result)

In [53]:
name = ['Tom', 'Jerry', 'Mike', 'Tom']

In [54]:
find_repeat_name(name)

{'Tom'}

In [55]:
name = ['Tom', 'Jerry', 'Mike', 'Tom','Tom','Jerry','Mike','DrWill']
find_repeat_name(name)

{'Jerry', 'Mike', 'Tom'}

In [56]:
## 3-1 두명을 뽑아 짝짓기

In [59]:
def find_repeat_name(name):
    result=[]
    s_name=pd.Series(name)
    #print(s_name)
    
    df = pd.DataFrame(s_name.value_counts().sort_values(ascending=False),columns = ['freq']).reset_index()
    df.rename(columns = {'index': 'name'}, inplace = True)
    
    result= list(df['name'])
    
    return result  # 1개 이상의 이름만을 추출

def pair(result):
    n=len(result)
    for i in range(0, n-1):
        for j in range(i+1,n):
            print(result[i], "-", result[j])

In [60]:
pair(find_repeat_name(name))

Tom - Jerry
Tom - Mike
Tom - DrWill
Jerry - Mike
Jerry - DrWill
Mike - DrWill