### 문제04 팩토리얼 구하기

In [1]:
import pandas as pd
import numpy as np

In [21]:
def fact(n):
    f = 1

    if n <= 1: 
        return f
    else:
        for i in range(1,n+1):
            f = f*i
    return f

In [22]:
fact(1)

1

In [23]:
fact(4)

24

In [24]:
def fact2(n):
    
    if n <= 1:
        return 1
        
    return n*fact2(n-1)

In [25]:
fact2(1)

1

In [26]:
fact2(4)

24

In [27]:
fact(10)

3628800

In [ ]:
## 4-1 재귀호출을 이용해 1~n까지 합 구하기

In [28]:
def sum(n):
    
    if n < 1:
        return 0
        
    return n+sum(n-1)

In [29]:
sum(1)

1

In [30]:
sum(0)

0

In [32]:
sum(10)

55

In [33]:
sum(100)

5050

In [ ]:
## 4-2 재귀호출을 이용해 최댓값 구하기

In [75]:
def find_max(a,n):
    
    if n <= 1:
        return a[0]
        
    max_n_1 = find_max(a, n-1) # 재귀문을 처리하면서, a[0] 과 a[1] 을 비교하고, n이 증가하면서 재귀루틴이 풀림
    
    if max_n_1 > a[n-1]:
        return max_n_1
    else:
        return a[n-1]

In [76]:
a=[5,6,7,2,4,7]
len(a)

6

In [77]:
find_max(a, len(a))

7

In [79]:
v=[17,92,33,58,7,33,42]
find_max(v, len(v))

92

### 문자05 최대공약수 구하기

In [82]:
def gcd(a,b):
    i=min(a,b)
    while True:
        if a% i == 0 and b % i == 0: #몫이 0일 경우
            return i
        i = i - 1

In [87]:
print(gcd(1,5))
print(gcd(13, 2))
print(gcd(13, 26))
print(gcd(81,27))

1
1
13
27

In [113]:
# 0 이 입력되었을 때를 고려
def gcd(a,b):
    i=min(a,b)
    if i==0 and a == 0:
        return b
    
    if i==0 and b== 0:
        return a    
    
    while True:
        if a% i == 0 and b % i == 0: #몫이 0일 경우
            return i
        i = i - 1

In [115]:
print(gcd(5,1%5))
print(gcd(2, 13%2))
print(gcd(26, 13%26))
print(gcd(27, 81%27))

1
1
13
27

In [116]:
# 유클리드 방식으로 풀기
def gcd2(a,b):
   
    if b == 0:
        return a     
    return gcd2(b, a%b)

In [118]:
print(gcd2(1,5))
print(gcd2(13, 2))
print(gcd2(13, 26))
print(gcd2(81,27))

1
1
13
27

In [119]:
## 05 피보나치 수열 구하기

In [122]:
def fibo(n):
    
    if n <= 1:
        return n
    
    return fibo(n-2) + fibo(n-1)

In [123]:
print(fibo(7))
print(fibo(10))

13
55

### 문제06 하노이의 탑 옮기기

In [133]:
def hano(n, from_pos, to_pos, aux_pos):
    if n == 1:
        print(from_pos, "->", to_pos)
        return
    
    hano(n-1, from_pos, aux_pos, to_pos)
    
    print(from_pos, "->", to_pos)
    
    hano(n-1, aux_pos, to_pos, from_pos)

In [134]:
hano(1,1,3,2)

1 -> 3

In [135]:
hano(2,1,3,2)

1 -> 2
1 -> 3
2 -> 3

In [136]:
hano(3,1,3,2)

1 -> 3
1 -> 2
3 -> 2
1 -> 3
2 -> 1
2 -> 3
1 -> 3

In [137]:
hano(4,1,3,2)

1 -> 2
1 -> 3
2 -> 3
1 -> 2
3 -> 1
3 -> 2
1 -> 2
1 -> 3
2 -> 3
2 -> 1
3 -> 1
2 -> 3
1 -> 2
1 -> 3
2 -> 3