### 문제07 순차탐색

In [2]:
def search_list(a,x):
    n=len(a)
    for i in range(0,n):
        if x == a[i]:
            return i
    return -1

In [3]:
v=[17,92,18,33,58,7,33,42]

In [4]:
print(search_list(v,18))

2

In [5]:
print(search_list(v,33))
print(search_list(v,900))

3
-1

In [ ]:
# 7-1 첫번째 위치만 결과로 돌려주는 탐색 알고리즘

In [8]:
def search_list2(a,x):
    n=len(a)
    result=[]
    for i in range(0,n):
        if x == a[i]:
            result.append(i)
    return result

In [9]:
v=[17,92,18,33,58,7,33,42]

print(search_list2(v,18))
print(search_list2(v,33))
print(search_list2(v,900))

[2]
[3, 6]
[]

In [ ]:
# 7-2 : O(n)

In [ ]:
# 7-3 학생 번호와 이름을 매치시키는 탐색 알고리즘

In [27]:
def find_name(n, stu_no, stu_name):

    for i in range(0, len(stu_no)):
        if n == stu_no[i]:
            return stu_name[i]
    return '해당 학생이 없습니다.'

In [28]:
stu_no=[39,14,67,105]
stu_name=['Justin','John','Mike','Summer']

In [29]:
find_name(n,stu_no, stu_name)

'Justin'

In [30]:
def  in_n( ):
    n=0
    while True:
        n= int(input('찾고자 하는 학생번호를 입력하여 주세요(종료:0)'))
        
        if n == 0:
            return '탐색을 마칩니다.'
        
        print(find_name(n,stu_no, stu_name))

In [31]:
in_n()

찾고자 하는 학생번호를 입력하여 주세요(종료:0)39
Justin
찾고자 하는 학생번호를 입력하여 주세요(종료:0)67
Mike
찾고자 하는 학생번호를 입력하여 주세요(종료:0)105
Summer
찾고자 하는 학생번호를 입력하여 주세요(종료:0)67
Mike
찾고자 하는 학생번호를 입력하여 주세요(종료:0)99
해당 학생이 없습니다.
찾고자 하는 학생번호를 입력하여 주세요(종료:0)0

'탐색을 마칩니다.'

### 문제08 선택 정렬

In [32]:
import numpy as np

In [39]:
# 오름차순

def sort_n(a):
    s_n = np.array(a)
    return list(np.sort(s_n))

In [42]:
sort_n(list(map(int,input('원하는 숫자를 입력하세요. 숫자간은 공란으로 구분하세요\n').split())))

원하는 숫자를 입력하세요. 숫자간은 공란으로 구분하세요
5 6 7 8 10 33 99 66 44 22

[5, 6, 7, 8, 10, 22, 33, 44, 66, 99]

In [45]:
# 내림차순

def sort_d_n(a):
    s_n = np.array(a)
    return list(np.sort(s_n)[::-1])

In [47]:
sort_d_n(list(map(int,input('원하는 숫자를 입력하세요. 숫자간은 공란으로 구분하세요\n').split())))

원하는 숫자를 입력하세요. 숫자간은 공란으로 구분하세요
5 6 7 8 10 33 99 66 44 22

[99, 66, 44, 33, 22, 10, 8, 7, 6, 5]

In [3]:
a=[5,6,7,10,22,33,1,7]
a.sort()
a

[1, 5, 6, 7, 7, 10, 22, 33]

In [4]:
sorted(a)

[1, 5, 6, 7, 7, 10, 22, 33]