### W3 4-5 Make_New_Columns
#### 4. assign으로 새로운 컬럼만들기

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': range(1,11), 'B':np.random.randn(10)})
df

    A         B
0   1  0.192801
1   2  0.292890
2   3  1.688878
3   4 -0.719479
4   5 -1.169129
5   6  1.440656
6   7 -0.024170
7   8  1.367824
8   9 -0.163749
9  10  0.849458

In [3]:
df.assign?

In [4]:
df.assign(ln_A = lambda x: np.log(x.A))

    A         B      ln_A
0   1  0.192801  0.000000
1   2  0.292890  0.693147
2   3  1.688878  1.098612
3   4 -0.719479  1.386294
4   5 -1.169129  1.609438
5   6  1.440656  1.791759
6   7 -0.024170  1.945910
7   8  1.367824  2.079442
8   9 -0.163749  2.197225
9  10  0.849458  2.302585

In [5]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  0.192801  0.000000
1  2  0.292890  0.693147
2  3  1.688878  1.098612
3  4 -0.719479  1.386294
4  5 -1.169129  1.609438

In [6]:
df['ln_A'] = np.log(df.A)

In [7]:
df

    A         B      ln_A
0   1  0.192801  0.000000
1   2  0.292890  0.693147
2   3  1.688878  1.098612
3   4 -0.719479  1.386294
4   5 -1.169129  1.609438
5   6  1.440656  1.791759
6   7 -0.024170  1.945910
7   8  1.367824  2.079442
8   9 -0.163749  2.197225
9  10  0.849458  2.302585

#### 5. Qcut 으로 binning,bucketing 하기

In [8]:
pd.qcut?

In [9]:
pd.qcut(df['A'],3, labels=['good','median','bad'])

0      good
1      good
2      good
3      good
4    median
5    median
6    median
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'median' < 'bad']

In [10]:
pd.qcut(df['A'],3, labels=['bad','median','good'])

0       bad
1       bad
2       bad
3       bad
4    median
5    median
6    median
7      good
8      good
9      good
Name: A, dtype: category
Categories (3, object): ['bad' < 'median' < 'good']

In [11]:
pd.qcut(df.B,2, labels=['bad','good'])

0     bad
1    good
2    good
3     bad
4     bad
5    good
6     bad
7    good
8     bad
9    good
Name: B, dtype: category
Categories (2, object): ['bad' < 'good']

In [12]:
df.max(axis=0)

A       10.000000
B        1.688878
ln_A     2.302585
dtype: float64

In [13]:
df.min(axis=1)

0    0.000000
1    0.292890
2    1.098612
3   -0.719479
4   -1.169129
5    1.440656
6   -0.024170
7    1.367824
8   -0.163749
9    0.849458
dtype: float64

In [14]:
df.A.clip(lower=1,upper=3)

0    1
1    2
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: A, dtype: int64

In [15]:
df.B.clip(lower=1,upper=3)

0    1.000000
1    1.000000
2    1.688878
3    1.000000
4    1.000000
5    1.440656
6    1.000000
7    1.367824
8    1.000000
9    1.000000
Name: B, dtype: float64

In [16]:
df.B

0    0.192801
1    0.292890
2    1.688878
3   -0.719479
4   -1.169129
5    1.440656
6   -0.024170
7    1.367824
8   -0.163749
9    0.849458
Name: B, dtype: float64

In [17]:
df.B.abs()

0    0.192801
1    0.292890
2    1.688878
3    0.719479
4    1.169129
5    1.440656
6    0.024170
7    1.367824
8    0.163749
9    0.849458
Name: B, dtype: float64