#### W4. 데이터 합치기

In [1]:
import pandas as pd

In [2]:
pd.concat?

In [3]:
s1 = pd.Series(['a','b'])
s1

0    a
1    b
dtype: object

In [4]:
s2 = pd.Series(['c','d'])
s2

0    c
1    d
dtype: object

In [6]:
pd.concat([s1,s2])

0    a
1    b
0    c
1    d
dtype: object

In [7]:
pd.concat([s1,s2], keys = ['s1','s2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

In [9]:
pd.concat([s1,s2], keys = ['s1','s2'], names = ['Series names', 'Row ID'])

Series names  Row ID
s1            0         a
              1         b
s2            0         c
              1         d
dtype: object

In [11]:
df1 = pd.DataFrame([['a',1],['b',2]],
                  columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [12]:
df2 = pd.DataFrame([['c',3],['d',4]],
                  columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [14]:
pd.concat([df1,df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [15]:
df3 = pd.DataFrame([['c',3, 'cat'],['d',4,'dog']],
                  columns=['letter', 'number','animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [17]:
pd.concat([df1,df3])

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [18]:
pd.concat([df1,df3], join='inner')

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [19]:
pd.concat([df1,df3], sort=False)

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [20]:
pd.concat([df1,df3], sort=True)

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

In [23]:
df4 = pd.DataFrame([['bird','polly'],['monkey', 'george']],
                  columns = ['animal','name'])
df4

   animal    name
0    bird   polly
1  monkey  george

In [24]:
df5 = pd.DataFrame([1], index=['a'])
df5

   0
a  1

In [25]:
df6 = pd.DataFrame([2], index=['a'])
df6

   0
a  2

In [26]:
pd.concat([df5,df6], verify_integrity=True)   # verify_integrity = True 는 key 값이 동일한 데이타가 있으면 에러가 남
# ValueError: Indexes have overlapping values: Index(['a'], dtype='object')

ValueError: Indexes have overlapping values: Index(['a'], dtype='object')