In [1]:
import pandas as pd

In [4]:
adf=pd.DataFrame([['A',1],['B',2],['C',3]], columns=['x1','x2'])
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [5]:
bdf=pd.DataFrame([['A','T'],['B','F'],['D','T']], columns=['x1','x2'])
bdf

  x1 x2
0  A  T
1  B  F
2  D  T

In [6]:
pd.merge(adf,bdf,how='left', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN

In [7]:
pd.merge(adf,bdf,how='right', on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  D   NaN    T

In [8]:
pd.merge(adf,bdf,on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F

In [9]:
pd.merge(adf,bdf,how='inner', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F

In [10]:
pd.merge?

In [11]:
adf.x1

0    A
1    B
2    C
Name: x1, dtype: object

In [14]:
adf[['x1']]

  x1
0  A
1  B
2  C

In [16]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [17]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [19]:
adf[~adf.x1.isin(bdf.x1)]  # ~는 bdf.x1에 없는 x1 의 열을 가져옴

  x1  x2
2  C   3

In [20]:
ydf=pd.DataFrame([['A',1],['B',2],['C',3]], columns=['x1','x2'])
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [21]:
zdf=pd.DataFrame([['B',2],['C',3],['D',4]], columns=['x1','x2'])
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [22]:
pd.merge(ydf,zdf)

  x1  x2
0  B   2
1  C   3

In [23]:
pd.merge(ydf,zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [24]:
pd.merge(ydf,zdf, how='outer', indicator=True) # indicator =True 어떻게 병합했는지 알려줌

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [25]:
pd.merge(ydf,zdf, how='outer', indicator=True).query('_merge =="left_only"')  # _merge == 'left_only'인 것만 보여줌

  x1  x2     _merge
0  A   1  left_only

In [26]:
pd.merge(ydf,zdf, how='outer', indicator=True).query('_merge =="left_only"').drop(columns='_merge')

  x1  x2
0  A   1